body{background: url(img/back.png) repeat-x; background-color: #016db8; height: 298px;}

#GrandContainer {}

#Header{background: url(img/header.png) no-repeat; width: 999px; height: 302px;}

#Nav {background: url(img/backgrTop.png) no-repeat; width: 999px; height: 43px; margin: -30px 0 0 0;}

#Main {background: url(img/backgrMain.png) repeat-y; width: 999px; margin: -1px 0 0 0;}

#Footer {background: url(img/backgrBot.png) no-repeat; width: 999px; height: 27px;}

#Left{float:left; margin: 0 0 0 4px;}

#Mid{float:left; margin: 3px 0 0 15px;}

#Right{float:left; margin: 0 0 0 16px;}

#contactsMain{color:#4a6d14; font-family:Verdana; font-size:10pt;}

#menuButTop{background: url(img/MenuButTop.png) no-repeat; width:210px; height: 37px;} 

#menuButBot{background: url(img/MenuButBot.png) no-repeat; width:210px; height: 38px; margin:-1px 0 0 0;} 

#Search{background: url(img/MidTop.png) no-repeat; width:540px; height: 55px;}

#MidMain{background: url(img/MidMain.png) repeat-y; width:540px;}

#MidBot{background: url(img/MidBot.png) no-repeat; width:540px; height: 20px;}

#searchBut{float: left; background: url(img/searchButton.png) no-repeat; width:90px; height: 26px; margin:3px 0 0 -6px; line-height:22px;}
#searchBut:hover{float: left; background: url(img/searchButtonHover.png) no-repeat; width:90px; height: 26px; margin:3px 0 0 -6px; line-height:22px;}
#searchBut a:link{color: #424242; font-family:Verdana; font-size:11pt; text-decoration: none;}
#searchBut a:visited{color: #424242; font-family:Verdana; font-size:11pt; text-decoration: none;}
#searchBut a:hover{color: #424242; font-family:Verdana; font-size:11pt; text-decoration: underline;}

#search{float:left; background:url(img/Search.png) no-repeat; width:440px; height: 28px; border: none; color: #4a4a4a; margin: 2px 0 0 3px; padding: 0 0 0 10px; font-family: Verdana; font-weight: Bold; font-size:14px;}

#offTitle{margin:-15px 0 5px 0; color: #424242; font-family:Verdana; font-size:10pt; font-weight: bold; text-decoration: none;}

#rightBlueTop{background: url(img/RightBlueTop.png) no-repeat; width:210px; height: 37px;}

#rightBlueMain{background: url(img/RightBlueMain.png) repeat-y; width:210px;}

#rightBlueBot{background: url(img/RightBlueBot.png) no-repeat; width:210px; height: 17px;}

#Pochivki_onclick{width: 210px; background: url(img/poch_on_back.png) repeat-y; color: #fff; display:none;}

a:link {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:visited {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:hover{color: #4a6d14; font-family:Verdana; font-size:12pt; text-decoration: underline;}

.blueOff{margin: 0 0 0 15px;}

.yellowPointer{float: left; background: url(img/YellowPointer.png) no-repeat; width:9px; height: 9px; margin: 5px 10px 0 0;}

.poch_on_OffText{text-align: left; background: url(img/poch_on_back1.png) no-repeat; height:25px; width: 210px; margin: 0 0 0 0;}
.poch_on_OffText a:link{color:#fff; text-decoration:none; font-size:11pt;}
.poch_on_OffText a:visited{color:#fff; text-decoration:none; font-size:11pt;}
.poch_on_OffText a:hover{color:#fff; text-decoration:underline;font-size:11pt; }

.blueOffText{float:left; text-align: left; width: 170px;}
.blueOffText a:link{color:#fff; text-decoration:none; font-size:11pt;}
.blueOffText a:visited{color:#fff; text-decoration:none; font-size:11pt;}
.blueOffText a:hover{color:#fff; text-decoration:underline;font-size:11pt; }

.offPic_1{float:left; margin: 8px 0 0 20px; border: 1px solid #4e701a;}

.offPic_2{float:left; margin: 8px 0 0 20px; border: 1px solid #24769e;}

.offText{float:left; margin: 8px 0 0 0; width: 340px; margin:7px 0 0 10px;}

.offTextTitle_1{text-align: left; }
.offTextTitle_1 a:link{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:visited{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:hover{color:#4e701a; text-decoration:underline;font-size:10pt; }

.offTextTitle_2{text-align: left; }
.offTextTitle_2 a:link{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:visited{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:hover{color:#24769e; text-decoration:underline;font-size:10pt; }

.offTextDesc{text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Verdana; height:55px;}

.offTextPrice{}

.offTextPrice_{float:left; text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Verdana;}

.offTextPrice_price{float:left;text-align: left; color:red; font-weight: bold; text-decoration:none; font-size:9pt; font-family: Verdana;}

.line360{background: url(img/Line360.png) no-repeat; width:340px; height:2px; margin: 2px 0 2px 0;}

.off{background: url(img/offBack.png) no-repeat; width:520px; height:120px; margin: 10px 0 0 0;}

.menuBlueTop{background: url(img/MenuBlueTop.png) no-repeat; width:210px; height:42px; line-height: 37px; color: #fff; font-family:Verdana; font-size: 12pt; font-weight:bold;} 

.menuBlueMain{background: url(img/MenuBlueMain.png) repeat-y; width:210px;} 

.menuBlueBot{background: url(img/MenuBlueBot.png) no-repeat; width:210px; height:20px;} 

.menuGreenTop{background: url(img/MenuGreenTop.png) no-repeat; width:210px; height:42px; line-height: 42px; color: #fff; font-family:Verdana; font-size: 12pt; font-weight:bold;} 

.menuGreenMain{background: url(img/MenuGreenMain.png) repeat-y; width:210px;} 

.menuGreenBot{background: url(img/MenuGreenBot.png) no-repeat; width:210px; height:25px;} 

.textTop{float:left; margin: 10px 0 0 10px;}

.text{float:left; margin: 5px 0 0 10px;}

.icon{float:left;}

.menuBut{background: url(img/MenuBut.png) no-repeat; width:210px; height: 34px;} 

.Line994{background: url(img/Line994.png) no-repeat; width:977px; height: 2px;} 

.ButtonNachalo{width: 79px;}
.ButtonNachalo:hover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 33px;}

.ButtonAboutHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0; display:none;}
.ButtonAbout{width:79px; }

.ButtonLicenzHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0; display:none;}
.ButtonLicenz{width:79px;}

.ButtonKontHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0; display:none;}
.ButtonKont{width:79px;}

.ButtonYzZHover{background: url(img/YzZHover.png) no-repeat; width: 220px; height: 26px; margin: -21px 0 0 0;}
.ButtonYzZ{width:220px;}
.ButtonYzZ a:link{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.ButtonYzZ a:visited{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.ButtonYzZ a:hover{color: #fff; text-decoration: underline; font-family: Verdana; font-size: 12pt;}

.ButtonYzZ_down{text-align: left; position: absolute; top: 321px; margin: 0 0 0 256px; width:330px; display: none;}
.ButtonYzZ_down1{height: 30px;  background-color:#c5e1ee; border: 1px solid #2a9cd2; line-height: 30px; padding: 0 0 0 2px;}
.ButtonYzZ_down1:hover{background-color:#c0dce9;}
.ButtonYzZ_down1 a:link{color: #4a4a4a; font-size:10pt; font-family: Verdana; }
.ButtonYzZ_down1 a:visited{color: #4a4a4a; font-size:10pt; font-family: Verdana;}
.ButtonYzZ_down1 a:hover{color: #4a4a4a; font-size:10pt; font-family: Verdana;}

.ButtonBsHover{background: url(img/BsHover.png) no-repeat; width: 150px; height: 26px; margin: -21px 0 0 0; display:none;}
.ButtonBs{width:150px;}

.Button {float: left; margin: 15px 0 0 1px;}
.Button a:link{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:visited{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:hover{color: #fff; text-decoration: underline; font-family: Verdana; font-size: 12pt;}

.ButtonFirst {float: left; margin: 14px 0 0 16px;}
.ButtonFirst a:link{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.ButtonFirst a:visited{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.ButtonFirst a:hover{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}


.clearer {clear: both;}