body{background: url(img/back.png) repeat-x; background-color: #016db8; height: 298px;}

#GrandContainer {}

#Header{background: url(img/header.png) no-repeat; width: 1016px; height: 302px;}

#Nav {background: url(img/backgrTop.png) no-repeat; width: 1016px; height: 43px; margin: -30px 0 0 0;}

#Main {background: url(img/backgrMain.png) repeat-y; width: 1016px; margin: -1px 0 0 0;}

#Footer {background: url(img/backgrBot.png) no-repeat; width: 1016px; height: 27px;}

#Left{float:left; margin: 0 0 0 4px;}

#Mid{float:left;}

#Right{float:left;}

#contactsMain{color:#4a6d14; font-family:Verdana; font-size:10pt;}

#menuButTop{background: url(img/MenuButTop.png) no-repeat; width:210px; height: 37px;} 

#menuButBot{background: url(img/MenuButBot.png) no-repeat; width:210px; height: 38px; margin:-1px 0 0 0;} 

a:link {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:visited {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:hover{color: #4a6d14; font-family:Verdana; font-size:12pt; text-decoration: underline;}

.menuBlueTop{background: url(img/MenuBlueTop.png) no-repeat; width:210px; height:42px; line-height: 37px; color: #fff; font-family:Verdana; font-size: 12pt; font-weight:bold;} 

.menuBlueMain{background: url(img/MenuBlueMain.png) repeat-y; width:210px;} 

.menuBlueBot{background: url(img/MenuBlueBot.png) no-repeat; width:210px; height:20px;} 

.textTop{float:left; margin: 10px 0 0 10px;}

.text{float:left; margin: 5px 0 0 10px;}

.icon{float:left;}

.menuBut{background: url(img/MenuBut.png) no-repeat; width:210px; height: 34px;} 

.Line994{background: url(img/Line994.png) no-repeat; width:994px; height: 2px;} 

.ButtonNachaloHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonNachalo{margin: 15px 0 0 0; width:79px;}

.ButtonAboutHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonAbout{margin: 15px 0 0 0; width:79px;}

.ButtonLicenzHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonLicenz{margin: 15px 0 0 0; width:79px;}

.Button {float: left; margin: 0 0 0 15px;}
.Button a:link{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:visited{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:hover{color: #fff; text-decoration: underline; font-family: Verdana; font-size: 12pt;}


.clearer {clear: both;}