body{background: url(img/back.png) repeat-x; background-color: #016db8; height: 298px;}

#GrandContainer {}

#Header{background: url(img/header.png) no-repeat; width: 1016px; height: 302px;}

#Nav {background: url(img/backgrTop.png) no-repeat; width: 1016px; height: 43px; margin: -30px 0 0 0;}

#Main {background: url(img/backgrMain.png) repeat-y; width: 1016px; margin: -1px 0 0 0;}

#Footer {background: url(img/backgrBot.png) no-repeat; width: 1016px; height: 27px;}

#Left{float:left; margin: 0 0 0 4px;}

#Mid{float:left; margin: 3px 0 0 22px;}

#Right{float:left; margin: 3px 0 0 26px;}

#contactsMain{color:#4a6d14; font-family:Verdana; font-size:10pt;}

#menuButTop{background: url(img/MenuButTop.png) no-repeat; width:210px; height: 37px;} 

#menuButBot{background: url(img/MenuButBot.png) no-repeat; width:210px; height: 38px; margin:-1px 0 0 0;} 

#Search{background: url(img/MidTop.png) no-repeat; width:540px; height: 55px;}

#MidMain{background: url(img/MidMain.png) repeat-y; width:540px;}

#MidBot{background: url(img/MidBot.png) no-repeat; width:540px; height: 20px;}

#searchBut{float: left; background: url(img/searchButton.png) no-repeat; width:78px; height: 24px;}

#search{float:left; background:url(img/Search.png) no-repeat; width:440px; height: 28px; border: none; color: #4a4a4a; margin: 2px 0 0 3px; padding: 0 0 0 10px; font-family: Verdana; font-weight: Bold; font-size:14px;}

#offTitle{margin:-15px 0 5px 0; color: #424242; font-family:Verdana; font-size:10pt; font-weight: bold; text-decoration: none;}

.offPic_1{float:left; margin: 8px 0 0 20px; border: 1px solid #4e701a;}

.offPic_2{float:left; margin: 8px 0 0 20px; border: 1px solid #24769e;}

.offText{float:left; margin: 8px 0 0 0; width: 340px; margin:7px 0 0 10px;}

.offTextTitle_1{text-align: left; }
.offTextTitle_1 a:link{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:visited{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:hover{color:#4e701a; text-decoration:underline;font-size:10pt; }

.offTextTitle_2{text-align: left; }
.offTextTitle_2 a:link{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:visited{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:hover{color:#24769e; text-decoration:underline;font-size:10pt; }

.offTextDesc{text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Verdana; height:55px;}

.offTextPrice{}

.offTextPrice_{float:left; text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Verdana;}

.offTextPrice_price{float:left;text-align: left; color:red; font-weight: bold; text-decoration:none; font-size:9pt; font-family: Verdana;}

.line360{background: url(img/Line360.png) no-repeat; width:340px; height:2px; margin: 2px 0 2px 0;}

.off{background: url(img/offBack.png) no-repeat; width:520px; height:120px; margin: 10px 0 0 0;}

a:link {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:visited {color: #424242; font-family:Verdana; font-size:12pt; text-decoration: none;}
a:hover{color: #4a6d14; font-family:Verdana; font-size:12pt; text-decoration: underline;}

.menuBlueTop{background: url(img/MenuBlueTop.png) no-repeat; width:210px; height:42px; line-height: 37px; color: #fff; font-family:Verdana; font-size: 12pt; font-weight:bold;} 

.menuBlueMain{background: url(img/MenuBlueMain.png) repeat-y; width:210px;} 

.menuBlueBot{background: url(img/MenuBlueBot.png) no-repeat; width:210px; height:20px;} 

.textTop{float:left; margin: 10px 0 0 10px;}

.text{float:left; margin: 5px 0 0 10px;}

.icon{float:left;}

.menuBut{background: url(img/MenuBut.png) no-repeat; width:210px; height: 34px;} 

.Line994{background: url(img/Line994.png) no-repeat; width:994px; height: 2px;} 

.ButtonNachaloHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonNachalo{margin: 15px 0 0 0; width:79px;}

.ButtonAboutHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonAbout{margin: 15px 0 0 0; width:79px;}

.ButtonLicenzHover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin: -21px 0 0 0;}
.ButtonLicenz{margin: 15px 0 0 0; width:79px;}

.Button {float: left; margin: 0 0 0 15px;}
.Button a:link{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:visited{color: #4a4a4a; text-decoration: none; font-family: Verdana; font-size: 12pt;}
.Button a:hover{color: #fff; text-decoration: underline; font-family: Verdana; font-size: 12pt;}


.clearer {clear: both;}