body{background: url(img/back.png) repeat-x; background-color: #3c7abe; height: 302px;}

#GrandContainer {}

#Header{height: 302px;}

#Nav {background: url(img/backgrTop.png) no-repeat; width: 999px; height: 43px; margin:-9px 0 0 0;}

#Menu{margin-top: 0px;}

#Menu ul#menuButs{list-style: none; margin: 0 0 0 -20px;} 

#Menu ul#menuButs li{margin-top: 0px; margin-bottom: 0px;} 

#Main {background: url(img/backgrMain.png) repeat-y; width: 999px; margin: -1px 0 0 0;}

#Footer {background: url(img/backgrBot.png) no-repeat; width: 999px; height: 27px;}

#Left{float:left; margin: 0 0 0 4px;}

#Mid{float:left; margin: 3px 0 0 15px;}

#Right{float:left; margin: 2px 0 0 16px;}

#slider{position:relative; width:999px; height:302px; background: url(img/loading.gif) no-repeat 50% 50%;}

#slider img { position:absolute; top:0; left:0; display:none;}

#contactsMain{color:#4a6d14; font-family:Arial; font-size:10pt; margin:0 0 5px 0;}

#menuButTop{background: url(img/MenuButTop.png) no-repeat; width:210px; height: 37px; text-align:left; line-height: 40px;} 
#menuButTop:hover{background: url(img/MenuButTopHover.png) no-repeat; width:210px; height: 37px; text-align:left; line-height: 40px;} 

#menuButBot{line-height: 30px;background: url(img/MenuButBot.png) no-repeat; width:210px; height: 38px; margin:-1px 0 0 0; text-align:left; } 
#menuButBot:hover{background: url(img/MenuButBotHover.png) no-repeat; width:210px; height: 38px; margin:-1px 0 0 0; text-align:left; line-height: 30px;} 

#Search{background: url(img/MidTop.png) no-repeat; width:540px; height: 55px;}

#Search_big{background: url(img/MidTop_big.png) no-repeat; width:750px; height: 55px;}

#MidMain{background: url(img/MidMain.png) repeat-y; width:540px;}

#MidMainPhp{width:520px; padding:0 10px 0 10px;}

#MidMain_big{background: url(img/MidMain_big.png) repeat-y; width:750px;}

#MidBot{background: url(img/MidBot.png) no-repeat; width:540px; height: 20px;}

#MidBot_big{background: url(img/MidBot_big.png) no-repeat; width:750px; height: 20px;}

#searchBut{float: left; background: url(img/searchButton.png) no-repeat; width:90px; height: 26px; margin:3px 0 0 -6px; line-height:22px;}
#searchBut:hover{float: left; background: url(img/searchButtonHover.png) no-repeat; width:90px; height: 26px; margin:3px 0 0 -6px; line-height:22px;}
#searchBut a:link{color: #424242; font-family:Arial; font-size:11pt; text-decoration: none;}
#searchBut a:visited{color: #424242; font-family:Arial; font-size:11pt; text-decoration: none;}
#searchBut a:hover{color: #424242; font-family:Arial; font-size:11pt; text-decoration: underline;}

#search{float:left; background:url(img/Search.png) no-repeat; width:440px; height: 28px; border: none; color: #4a4a4a; margin: 2px 0 0 3px; padding: 0 0 0 10px; font-family: Arial; font-weight: Bold; font-size:14px;}

#search_big{float:left; background:url(img/search_big.png) no-repeat; width:650px; height: 28px; border: none; color: #4a4a4a; margin: 2px 0 0 3px; padding: 0 0 0 10px; font-family: Arial; font-weight: Bold; font-size:14px;}

#rightBlueTop{background: url(img/RightBlueTop.png) no-repeat; width:210px; height: 37px;}

#rightBlueMain{background: url(img/RightBlueMain.png) repeat-y; width:210px;}

#rightBlueBot{background: url(img/RightBlueBot.png) no-repeat; width:210px; height: 17px;}

#Pochivki_onclick{width: 210px; background: url(img/poch_on_back.png) repeat-y; color: #fff; display:none;}
#Pochivki_onclick a:link {color:#fff; text-decoration:none; font-size:11pt; font-family: Arial, Tahoma, Verdana, sans-serif;}
#Pochivki_onclick a:visited {color:#fff; text-decoration:none; font-size:11pt; font-family: Arial, Tahoma, Verdana, sans-serif;}
#Pochivki_onclick a:hover {color:#fff; text-decoration:underline; font-size:11pt; font-family: Arial, Tahoma, Verdana, sans-serif;}

#Footer #FooterLeft{float:left; margin: -6px 0 0 20px;}

#Footer #FooterRight{float:right; margin: -6px 20px 0 0;}

#Nav ul.NavMain {display: inline; list-style: none; margin-top:0px;}

#Right ul#TopOferti{display: inline; list-style: none; margin-top:0px;} 

#Nav ul.NavMain li {float: left; margin: 14px 0 0 5px;}

#Nav ul.NavMain li.NavMain_first {float: left; margin-left: 20px;}

#Nav ul.NavMain li.NavMain_drop {display:inline; list-style:none; float: left; margin: 14px 0 0 5px;}

#Nav ul.NavMain li.NavMain_drop ul.SubMenu {display: none;  position:absolute; top:319px; margin:0 0 0 -25px;}

#Nav ul.NavMain li.NavMain_drop ul.SubMenu a:link {color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:10pt; text-decoration: none;}

#Nav ul.NavMain li.NavMain_drop ul.SubMenu a:visited {color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:10pt; text-decoration: none;}

#Nav ul.NavMain li.NavMain_drop ul.SubMenu a:hover {color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:10pt; text-decoration: underline;}

#Nav ul.NavMain li a, ul.NavMain li a:link,  ul.NavMain li a:visited {line-height: 20px; color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:12pt; text-decoration: none;}

#Nav ul.NavMain li a:hover{line-height: 20px; color: #fff; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:12pt; text-decoration: underline;}

#Nav ul.NavMain li.NavMain_drop ul{list-style: none; text-align: left; margin: 0 0 0 256px; width:330px; display:none;}

a:link {color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:12pt; text-decoration: none;}
a:visited {color: #424242; font-family: Arial, Tahoma, Verdana, sans-serif; font-size:12pt; text-decoration: none;}
a:hover{color: #4a6d14; font-family: Arial, Tahoma, Verdana, sans-serif;  font-size:12pt; text-decoration: underline;}

.blueOff{margin: 0 0 0 15px;}

.ButtonYzZ_down1{height: 40px; background: url(img/ButtonYzZ_down1.png) no-repeat; width:320px; line-height: 42px; padding: 0 0 0 10px;}

.ButtonYzZ_down2{height: 40px;  background: url(img/ButtonYzZ_down2.png) no-repeat; width:320px; line-height: 40px; padding: 0 0 0 10px;}

.ButtonNachalo{width: 79px;}
.ButtonNachalo:hover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 29px; margin:-2px 0 0 0; padding:2px 0 0 0;}

.ButtonAbout{width:79px;}
.ButtonAbout:hover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin:-2px 0 0 0; padding:2px 0 0 0;}

.ButtonLicenz{width:79px;}
.ButtonLicenz:hover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin:-2px 0 0 0; padding:2px 0 0 0;}

.ButtonKont{width:79px;}
.ButtonKont:hover{background: url(img/NachaloHover.png) no-repeat; width: 79px; height: 26px; margin:-2px 0 0 0; padding:2px 0 0 0;}

.ButtonBs{width:150px;}
.ButtonBs:hover{background: url(img/BsHover.png) no-repeat; width: 150px; height: 26px; margin:-2px 0 0 0; padding:2px 0 0 0;}

.ButtonYzZ{width:220px;}
.ButtonYzZHover{background: url(img/YzZHover.png) no-repeat; width: 220px; height: 26px; margin:-22px 0 0 0; padding:2px 0 0 0; display:none;}

.yellowPointer{float: left; background: url(img/YellowPointer.png) no-repeat; width:9px; height: 9px; margin: 5px 10px 0 0;}

.poch_on_OffText{text-align: left; background:#818181; height:25px; width: 192px; margin: 0 4px 0 0; border-top:1px solid #464646; border-left:1px solid #464646; padding:4px 0 0 10px;}
.poch_on_OffText:hover{background:#989898;}
.poch_on_OffText a:link{color:#fff; text-decoration:none; font-size:11pt;}
.poch_on_OffText a:visited{color:#fff; text-decoration:none; font-size:11pt;}
.poch_on_OffText a:hover{color:#fff; text-decoration:underline;font-size:11pt; }

.blueOffText{float:left; text-align: left; width: 170px;}
.blueOffText a:link{color:#fff; text-decoration:none; font-size:11pt;}
.blueOffText a:visited{color:#fff; text-decoration:none; font-size:11pt;}
.blueOffText a:hover{color:#fff; text-decoration:underline;font-size:11pt; }

.offPic_1{float:left; margin: 8px 0 0 20px; border: 1px solid #4e701a;}


.offPic_2{float:left; margin: 8px 0 0 20px; border: 1px solid #24769e;}

.offText{float:left; margin: 8px 0 0 0; width: 340px; margin:7px 0 0 10px;}

.offTextTitle_1{text-align: left; }
.offTextTitle_1 a:link{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:visited{color:#4e701a; text-decoration:none; font-size:10pt;}
.offTextTitle_1 a:hover{color:#4e701a; text-decoration:underline;font-size:10pt; }

.offTextTitle_2{text-align: left; }
.offTextTitle_2 a:link{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:visited{color:#24769e; text-decoration:none; font-size:10pt;}
.offTextTitle_2 a:hover{color:#24769e; text-decoration:underline;font-size:10pt; }

.offTextDesc{text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Arial; height:55px;}

.offTextPrice{}

.offTextPrice_{float:left; text-align: left; color:#424242; text-decoration:none; font-size:9pt; font-family: Arial;}

.offTextPrice_price{float:left;text-align: left; color:red; font-weight: bold; text-decoration:none; font-size:9pt; font-family: Arial;}

.line360{background: url(img/Line360.png) no-repeat; width:340px; height:2px; margin: 2px 0 2px 0;}

.off{background: url(img/offBack.png) no-repeat; width:520px; height:120px; margin: 10px 0 0 0;}

.menuBlueTop{background: url(img/MenuBlueTop.png) no-repeat; width:210px; height:42px; line-height: 37px; color: #fff; font-family:Arial; font-size: 12pt; font-weight:bold;} 

.menuBlueMain{background: url(img/MenuBlueMain.png) repeat-y; width:210px;} 

.menuBlueBot{background: url(img/MenuBlueBot.png) no-repeat; width:210px; height:20px;} 

.menuGreenTop{background: url(img/MenuGreenTop.png) no-repeat; width:210px; height:42px; line-height: 42px; color: #fff; font-family:Arial; font-size: 12pt; font-weight:bold;} 

.menuGreenMain{background: url(img/MenuGreenMain.png) repeat-y; width:210px;} 

.menuGreenBot{background: url(img/MenuGreenBot.png) no-repeat; width:210px; height:25px;} 

.textTop{margin: 0 0 0 10px;}

.text{margin: 0 0 0 10px;}

.icon{float:left;}

.fb-like-box{margin:0 0 0 1px;}

.menuBut{background: url(img/MenuBut.png) no-repeat; width:210px; height: 34px; text-align:left; line-height: 30px;} 
.menuBut:hover{background: url(img/MenuButHover.png) no-repeat; width:210px; height: 34px; text-align:left; line-height: 30px;} 

.Line994{background: url(img/Line994.png) no-repeat; width:977px; height: 2px; margin:0 0 5px 0;} 

.fb-like-box-blue{margin: 0 0 0 1px;}

.clearer {clear: both;}

.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	font-family: arial, sans-serif;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	margin: -20px 0 0 0;
	width:200px;
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	background: url(img/arrows.png) no-repeat;
	text-indent: -9999px;
	width:30px;
	height:30px;
	display: block;
}
a.nivo-prevNav {
	left:15px;
}
a.nivo-nextNav {
	right:15px;
	background-position: -30px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	margin:0 0 0 460px;
}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
	float:left;
	background: url(img/bullets.png) no-repeat;
	width:22px;
	height:22px;
	text-indent: -9999px;
	margin:270px 0 0 0;
}
.nivo-controlNav a.active {
	background-position: 0 -22px;
}